<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REMOVE_BG_API</key>
	<string>0bca91aafb1dd00961526266155cf65e7f8ae299029e210e840541b380a93be28ed5fa8182bebafae71ebd9262da1be1</string>
	<key>ClientTokenOrTokenizationKey</key>
	<string>sandbox_x6j94tj8_7pybpymmq68k6hwq</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>AIzaSyAERqGu58Xl8gRK0k_3fif2nCpeZuF3vrA</string>
</dict>
</plist>
